<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Admin</title>

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <h1>Admin Panel</h1>
    <form action='/admin/logout' method='POST'>
          <input type="submit" value="logout" name="username" size="40">
      </form>
    <p>CREATE ITEMS AND TAKE ORDERS GOES HERE</p>
    <button>
      <a href="/admin/add">Add a product</a>
</button>
    </body>
</html>
