<!DOCTYPE html>
<html lang="en">

<head>
  <title>clients</title>
  <link rel="stylesheet" type="text/css" href="/clients.css" />
  <link type="text/css" rel="stylesheet" href="/navbar.css">
  <link rel="stylesheet" type="text/css" href="welcome.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="js/scripts.js"></script>
</head>

<body>
  <div class="topnav">
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
    </ul>
  </div>

  <div id="sidenav" class="sidenav">
    CART YOUR ITEMS
    <!-- CART ITEMS WILL TO BE INSERTED  -->
  </div>
  <div id="main" class="master-items--container">
    <div class="grid-container">
      <% for (i in data){ %>
        <td>
          <div class="grid-item ">
            <div>
              <img class="photo" src="<%= data[i].item_photo_URL %>" />
            </div>
            <span id="item_name" class="item_name"> <strong> <%= data[i].item_name %> </strong></span>

            <span class="shopper-text">
            <%= data[i].item_description %>
          </span>
            <span class="price">$<%= data[i].item_price %></span>
            <div class="add">
              <button id="add" class="button">ADD</button>
            </div>
          </div>
        </td>
        <% } %>
    </div>
  </div>
</body>
</html>

<!-- *************** JQUERRY CART TO ADD ITEMS ON CLICK *************** -->
<script>

// SELECT ITEMS BY CLASS AND APPEND TO CART
$( "#main" ).on( "click", ".add", function() {
  let item_name = $(this).parent().find('.item_name').text();
  let item_price = $(this).parent().find('.price').text();
  let order = `<div><p>${item_name}</p><p>${item_price}</p></div>`;
  $("#sidenav").append(order)
});


</script>
