<!DOCTYPE html>
<html lang="en">

<head>
  <title>clients</title>
  <link rel="stylesheet" type="text/css" href="/clients.css" />
  <link type="text/css" rel="stylesheet" href="/navbar.css">
  <link rel="stylesheet" type="text/css" href="welcome.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="js/scripts.js"></script>
</head>

<body>
  <div class="topnav">
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
    </ul>
  </div>

  <div id="sidenav" class="sidenav">
    <h4>CART</h4>
    <div id="cart" class="cart">
    <form id = "form" class = "hide">
    <table>
      <th class="cart_item"></th>
          <!-- CART ITEMS TO BE INSERTED HERE  -->
            </table>
       <p id="totalCost"></p>
        <input id = "submit" class="button" type="submit" value="Checkout"></input>
       </form>
       </div>
  </div>

  <!-- SHOPPERS CATELOGUE ITEMS FROM DB  -->
  <div id="main" class="master-items--container">
    <div class="grid-container">
      <% for (i in data){ %>
        <td>
          <div class="grid-item ">
            <div>
              <img class="photo" src="<%= data[i].item_photo_URL %>" />
            </div>
            <span id="item_name" class="item_name"> <strong> <%= data[i].item_name %> </strong></span>
            <span class="shopper-text">
            <%= data[i].item_description %>
          </span>
            <span class="price">$<%= data[i].item_price %></span>
            <div class="add">
              <button class="button">ADD</button>
            </div>
          </div>
        </td>
        <% } %>
    </div>
  </div>
</body>
</html>

<!-- *************** JQUERRY CART TO ADD ITEMS *************** -->
<script>
$(document).ready(function(){

  // SELECT ITEMS BY CLASS AND APPEND NAME AND PRICE TO CART
let total = []; // array of cart items used for total cost calculation only
$( ".add" ).click(function() {
  let item_name = $(this).parent().find('.item_name').text();
  let item_price = $(this).parent().find('.price').text();
  let item = `<div class="cart_item_box">
  <tr>
  <div>
  <span>${item_name}</span>
    <span class="order_price" value="${item_price}">${item_price}</span>
  <input id="order_quantity" class="order_quantity" name="order_quantity" type="number" min="1" max="5" value="1">
    <input type = "hidden" name = "order_name" value = ${item_name} />
  </div>
  </tr>
  </div>`;
  $(".cart_item").append(item)

  // CART TOTAL ON EACH NEW ITEM ADDED
  const x = item_price.replace('$', '')
  const convertPrice = Number(x); // Tconvert to number


  // ADD LOGIC TO UPDATE QUANTITY ON CHANGE OF INPUT FIELD
  $( ".order_quantity" ).change(function(){
    const quantity = $( ".order_quantity" ).val() // Select quantity from items
    const subTotal = quantity * convertPrice;
    console.log("TESTING subTotal IS: " + subTotal)
    $(this).parent().parent().find('.order_price').text('$ ' + subTotal.toFixed(2));
  });

  console.log(typeof convertPrice) // Type is now a number
  total.push(subTotal); // Add to array of items
  console.log(total)
  function add(a, b) {return a + b;}
  $("#totalCost").text('$ ' + total.reduce(add, 0).toFixed(2)); // Sum of all items in cart
});
});

</script>
