<!DOCTYPE html>
<html lang="en">

<head>
  <title>clients</title>
  <link rel="stylesheet" type="text/css" href="/clients.css" />
  <link type="text/css" rel="stylesheet" href="/navbar.css">
  <link rel="stylesheet" type="text/css" href="welcome.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="js/scripts.js"></script>
</head>

<body>
  <div class="topnav">
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
    </ul>
  </div>

  <div id="sidenav" class="sidenav">
    <h4>CART</h4>
    <table class="cart">
      <th class="cart_item_name">name</th>
      <th class="cart_item_price">price</th>
      <p id="totalCost"></p>
    </table>
    <!-- CART ITEMS WILL TO BE INSERTED  -->
  </div>
  <div id="main" class="master-items--container">
    <div class="grid-container">
      <% for (i in data){ %>
        <td>
          <div class="grid-item ">
            <div>
              <img class="photo" src="<%= data[i].item_photo_URL %>" />
            </div>
            <span id="item_name" class="item_name"> <strong> <%= data[i].item_name %> </strong></span>

            <span class="shopper-text">
            <%= data[i].item_description %>
          </span>
            <span class="price">$<%= data[i].item_price %></span>
            <div class="add">
              <button id="add" class="button">ADD</button>
            </div>
          </div>
        </td>
        <% } %>
    </div>
  </div>
</body>
</html>

<!-- *************** JQUERRY CART TO ADD ITEMS ON CLICK *************** -->
<script>

let total = [];
// SELECT ITEMS BY CLASS AND APPEND NAME AND PRICE TO CART
$( "#main" ).on( "click", ".add", function() {
  let item_name = $(this).parent().find('.item_name').text();
  let item_price = $(this).parent().find('.price').text();
  let item = `<div>
  <tr>
  <span>${item_name}</span>
  </tr>
  </div>`;
  let price = `<div>
  <tr>
  <span>${item_price}</span>
  </tr>
  </div>`;
  $(".cart_item_name").append(item)
  $(".cart_item_price").append(price)

  // CART TOTAL OF ALL ITEM PRICES
  const x = item_price.replace('$', '')
  const y = Number(x);
  console.log(y)
  console.log(typeof y)
  total.push(y);
  console.log(total)

  function add(a, b) {
    return a + b;
}
  $("#totalCost").text('$ ' + total.reduce(add, 0).toFixed(2));
});



</script>
