<!DOCTYPE html>
<html lang="en">

<head>
  <title>clients</title>
  <link rel="stylesheet" type="text/css" href="/clients.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="js/scripts.js"></script>
</head>

<body>
  <h1>Ultimate Deal</h1>

<div class="master-items--container">
  <div class="grid-container">
    <% for (i in data){ %>
      <td>
        <div class="grid-item ">
          <div>
            <img class="photo" src="<%= data[i].item_photo_URL %>" />
          </div>
          <p> <strong> <%= data[i].item_name %> </strong></p>

          <p class="shopper-text">
            <%= data[i].item_description %>
          </p>
          <p> $
            <%= data[i].item_price %>
          </p>

        </div>
      </td>
      <% } %>
    </div>
          </div>


</body>

</html>
