<!DOCTYPE html>
<html lang="en">

<head>
  <title>clients</title>
  <link rel="stylesheet" type="text/css" href="/clients.css" />
  <link type="text/css" rel="stylesheet" href="/navbar.css">
  <link rel="stylesheet" type="text/css" href="welcome.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="js/scripts.js"></script>
</head>

<body>
<h1>CHECKOUT SELECT A PAYMENT METHOD</h1>

<% for (i in item_summary_name) { %>
 <p><%= item_summary_name[i] %></p>
<% } %>

<% for (i in items_summary_quantity) { %>
 <p><%= items_summary_quantity[i] %></p>
<% } %>

<% for (i in item_summary_price) { %>
 <p><%= item_summary_price[i] %></p>
<% } %>

<p>Total Price: <%= checkout_total %></p>

</body>

</html>
