<!DOCTYPE html>
<html lang="en">

<head>
  <title>clients</title>
  <link rel="stylesheet" type="text/css" href="/clients.css" />
  <link type="text/css" rel="stylesheet" href="/navbar.css">
  <link rel="stylesheet" type="text/css" href="welcome.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="js/scripts.js"></script>
</head>

<body>
  <div class="topnav">
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
    </ul>
  </div>

  <div id="sidenav" class="sidenav">
    <h4>CART</h4>
    <div id="cart" class="cart">
    <form id="form" class="hide">
        <input id = "submit" class="button" type="submit" value="Checkout"></input>
        <p id="totalCost"></p>
       </form>
       </div>
  </div>

  <!-- SHOPPERS CATELOGUE ITEMS FROM DB  -->
  <div id="main" class="master-items--container">
    <div class="grid-container">
      <% for (i in data){ %>
        <td>
          <div class="grid-item ">
            <div>
              <img class="photo" src="<%= data[i].item_photo_URL %>" />
            </div>
            <span id="item_name" class="item_name"> <strong> <%= data[i].item_name %> </strong></span>
            <span class="shopper-text">
            <%= data[i].item_description %>
          </span>
            <span class="price">$<%= data[i].item_price %></span>
            <div class="add">
              <button class="button">ADD</button>
            </div>
          </div>
        </td>
        <% } %>
    </div>
  </div>
</body>
</html>

<!-- *************** JQUERRY CART TO ADD ITEMS *************** -->
<script>
// SELECT ITEMS BY CLASS AND APPEND NAME AND PRICE TO CART
$( ".add" ).click(function() {
  const item_name = $(this).parent().find('.item_name').text();
  const item_price = $(this).parent().find('.price').text();
  const products = `<div id="cart_item_box" class="cart_item_box">
  <tr>
  <div>
  <span>${item_name}</span>
    <span id="order_price" class="order_price" value="${item_price}">${item_price}</span>
  <input id="order_quantity" class="order_quantity" name="order_quantity" type="number" min="1" max="5" value="1">
    <input type = "hidden" name = "order_name" value = ${item_name} />
  </div>
  <button id="delete_cart_item" class="delete_cart_item">DELETE</button>
  </tr>
  </div>`;
  $("#form").prepend(products)
});

// UPDATE PRICE OF LINE ITEMS
$(".cart").on( "change", ".order_quantity", function() {
  const quantity = $(this).parent().find('.order_quantity').val(); // Select quantity from items
  console.log(quantity)
  const newPriceString = $(this).parent().parent().find('.order_price').attr("value");
  const replace = newPriceString.replace('$', '') // Format string without $ sign
  const newPrice = Number(replace); // convert price string to number
  console.log(newPrice)
  const total = quantity * newPrice;
  console.log(total)
  $(this).parent().find('.order_price').text('$ ' + total.toFixed(2)); // replace item with new item price
});

// Delete an item from cart
$('.cart').on( "click", ".delete_cart_item", function(){
  $(this).parent().remove() // Delete parent line item 
})

// CART SUM tOTAL
$(document).click(function(){
        let total = 0;
          $('.order_price').each(function() {
            const priceString = $(this).text();
            const replace = priceString.replace('$', '') // Format string without $ sign
            const final_price = Number(replace) // convert to string
              console.log(final_price)
              total += final_price;
          });
          $("#totalCost").text('$ ' + total.toFixed(2)); // Sum of all items in cart
      });

</script>
