<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Admin_create_items</title>

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <div>
    <form action='/admin/logout' method='POST'>
          <input type="submit" value="logout" name="username" size="40">
      </form>
      <button>
        <a href="/admin/items">Item manager</a>
      </button>
    </div>
    <h1>Create Menu items</h1>
    <p>CREATE ITEMS AND TAKE ORDERS GOES HERE</p>
    <form method="POST" action="/admin/add" class = "standard" id="menuform">
       <h1>Add Menu Item</h1>
       Admin id se as:<br>
       <input type="text" name="user_id" value= "<%= id %>" readonly><br>
        Menu Item:<br>
        <input type="text" name="name"><br>
        Price:<br>
        <input type="number" name="price" step="0.25" min = "0"><br>
        Photo URL:<br>
        <input type="text" name="photo_url"><br>
        Description:<br>
        <textarea name="description" rows="4" cols="50" form="menuform"></textarea></br>
      <input type="submit" id="submit" value="Add Item">
    </form>
    </body>
</html>
