<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Admin_create_items</title>
    <link rel="stylesheet" type="text/css" href="/admin_items.css" />
    <link rel="stylesheet" type="text/css" href="welcome.css" />
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
 <%- include partials/admin_navbar.ejs %>
 <br><br><br><br><br><br><br><br><br>
    <h1>Create Menu items</h1>
    <p>CREATE ITEMS AND TAKE ORDERS GOES HERE</p>
    <div class="container">
    <form method="POST" action="/admin/add" class = "standard" id="menuform">
       <h1>Add Menu Item</h1>
       Admin id set as:<br>
       <input type="text" name="user_id" value= "<%= id %>" readonly><br>
        Menu Item:<br>
        <input type="text" name="name"><br>
        Price:<br>
        <input type="number" name="price" step="0.25" min = "0"><br>
        Photo URL:<br>
        <input class="photo-url" type="text" name="photo_url"><br>
        Description:<br>
        <textarea class="textarea" name="description" rows="4" cols="50" form="menuform"></textarea></br>
      <input class="button" type="submit" id="submit" value="Add Item">
    </form>
  </div>
    </body>
</html>
