<!DOCTYPE html>
<html lang="en">

<head>
  <title>register</title>
  <link rel="stylesheet" type="text/css" href="welcome.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="js/scripts.js"></script>

</head>

<body>
      <h1>Login</h1>
        <div>
          <form id="adminLogin"  method="post" action="/admin/login">
            <input id="username" type="text" name="username" placeholder="Enter a username">
            <input id="password" type="password" name="password" placeholder="Enter a password">
            <input id = "submit" type="submit" value="Login">
          </form>
          </div>
    </body>
</html>
</html>
