<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="welcome.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="js/scripts.js"></script>
</head>

  <body>
    <h1>Welcome</h1>
     <div class="split left">
       <h3 class="middle">Order Online</h3>
         <div class="middle">
      <a class="button" href="/clients/shoppers">Shoppers</a>
       </div>

        <div class="split right">
          <h3 class="middle">Merchant Account</h3>
           <div class="middle">
      <a class="button" href="/admin/register">Businesses Register</a><br><br>
      <a class="button" href="/admin/login">Businesses Login</a><br><br>
      <a class="button" href="/admin/items">Business manager</a><br><br>
      </div>
    </div><br>

    </div>
      </div>
</body>

</html>
