.button {
  padding: 7px 9px;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.topnav {
   position: fixed;
   top: 0;
   left: 0;
    height: 70px;
    width: 100%;
    padding:0;
    background-color: rgb(61, 122, 175);
    color: white;
}

ul {
    list-style-type: none;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

form {
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
