      .button {
        padding: 7px 9px;
        font-size: 15px;
        text-align: center;
        cursor: pointer;
        outline: none;
        color: #fff;
        background-color: #4CAF50;
        border: none;
        border-radius: 5px;
      }

      .button:hover {
        background-color: #3e8e41
      }

      .button:active {
        background-color: #3e8e41;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
      }

      /* Split the screen in half */

      .split {
        height: 50%;
        width: 30%;
        top: 25%;
        position: fixed;
        z-index: 1;
        overflow-x: hidden;
        padding-top: 20px;
      }

      /* Control the left side */

      .left {
        left: 18%;
        background: rgba(204, 204, 204, 0.6);
      }

      /* Control the right side */

      .right {
        right: 18%;
        background: rgba(204, 204, 204, 0.6);
      }

      /* content centered vertically */

      .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
      }

      /* Style the image inside the centered container, if needed */

      .middle {
        text-align: center;
      }
