body {
        background-color:#CCCCCC;
   }
.modal {
	background: #FFF;
	width: 500px;
	height: 400px;
	text-align: center;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
		-moz-box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
			-webkit-box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
	position: fixed;
	top: 30%;
	left: 45%;
	margin-left: -100px;
	line-height: 25px;
	z-index: 99;
}

.inline {
  display: inline-block;
}
